/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Variables */
:root {
  --primary:#FD6E0A;
  --white: #fff;
  --black: #181818;
  --dark-gray: #474747;
  --gray: #A7A5A3;
  --bg-primary: #FFF8F3;
}

/* Universal Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff !important;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 8px 15px;
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* Header Area CSS */
.header {
  background-color: var(--bg-primary);
  padding: 20px 0;
}
.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-content .logo a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}
.header-content .logo a span {
  color: var(--primary);
}
.header-content .nav-bar .menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content .nav-bar .menu .menu-item {
  margin-left: 50px;
}
.header-content .nav-bar .menu .menu-item a {
  font-size: 18px;
  color: var(--dark-gray);
  font-weight: 400;
  cursor: pointer;
}

/* Banner Area CSS */

