@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
  transition: scroll .5s ease;
}

body {
  font-family: "Lato", sans-serif;
}

.active {
    border: 1px solid teal;
    border-radius: 50px;
    background-color: rgb(0 128 128 / 10%);
    transition: all .5s ease;
}
