/* goggle fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal css code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* body and container css code */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* banner section css code */
.banner-area {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-content {
  overflow: hidden;
}
.banner-text {
  float: right;
  width: 500px;
  text-align: right;
  padding: 30px;
}
.banner-text h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
  text-align: right;
}
.banner-text p {
  font-size: 16px;
  text-align: right;
  line-height: 1.5;
  margin-bottom: 15px;
}
.banner-text .contact-btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  background-color: #f15b22;
  border-radius: 3px;
}

/* previous year area */
.previous-year-area {
  padding: 100px 0;
}
.previous-year-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.previous-year-image {
  flex-basis: 45%;
}
.previous-year-image img {
  width: 100%;
}
.previous-year-text {
  flex-basis: 45%;
  padding: 10px 30px;
}
.previous-year-text h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}
.previous-year-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
}
.previous-year-text ul {
  margin-top: 15px;
}
.previous-year-text ul li {
  text-transform: capitalize;
  font-size: 16px;
  color: #424242;
  padding: 5px 0;
}
.previous-year-text ul li i {
  color: #21a521;
  font-size: 18px;
}

/* plan area */
.plan-area {
  padding: 80px 0;
  background-color: #fafdff;
}
.plan-area-title {
  text-align: center;
  margin-bottom: 50px;
}
.plan-area-title h1 {
  font-size: 40px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: inline-block;
  position: relative;
}
.plan-area-title h1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f15b22;
}
.plan-area-title p {
  font-size: 16px;
  color: #424242;
}
.my-plans {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.plan {
  flex-basis: 23%;
  border-radius: 8px;
  background: #fafdff;
  box-shadow: 15px 15px 30px #d7dadb, -15px -15px 30px #ffffff;
  padding: 15px;
  text-align: left;
  transition: 0.5s ease;
}
.plan:hover {
  transform: translateY(-5px);
}
.plan img {
  width: 50px;
  height: 50px;
}
.plan h2 {
  text-transform: capitalize;
  font-size: 22px;
  color: #333;
  margin: 10px 0;
}
.plan p {
  font-size: 16px;
  color: #424242;
  line-height: 1.5;
}

/* news later area */
.newslater-area {
  padding: 50px 0;
  background: #fafdff;
}
.newslater-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 50px;
  margin: 0 25px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
.newslater-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(255, 72, 0),
    rgba(255, 78, 0, 0.8)
  );
  opacity: 0.5;
  border-radius: 10px;
  z-index: -1;
}
.newslater-content h2 {
  text-transform: capitalize;
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
}
.newslater-content .newslater-btn {
  text-transform: capitalize;
  font-size: 16px;
  background-color: #fff;
  color: #f15b22;
  display: inline-block;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 3px;
}
