/* goggle fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal css code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* body and container css code */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* banner section css code */
.banner-area {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-content {
  overflow: hidden;
}
.banner-text {
  float: right;
  width: 500px;
  text-align: right;
  padding: 30px;
}
.banner-text h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
  text-align: right;
}
.banner-text p {
  font-size: 16px;
  text-align: right;
  line-height: 1.5;
  margin-bottom: 15px;
}
.banner-text .contact-btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  background-color: #F15B22;
  border-radius: 3px;
}

/* previous year area */
.previous-year-area {
  padding: 100px 0;
}
.previous-year-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.previous-year-image {
  flex-basis: 45%;
}
.previous-year-image img {
  width: 100%;
}
.previous-year-text {
  flex-basis: 45%;
  padding: 10px 30px;
}
.previous-year-text h1 {
  text-transform: capitalize;
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}
.previous-year-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
}
.previous-year-text ul {
  margin-top: 15px;
}
.previous-year-text ul li {
  text-transform: capitalize;
  font-size: 16px;
  color: #424242;
  padding: 5px 0;
}
.previous-year-text ul li i {
  color: #21a521;
  font-size: 18px;
}
