/*=============================================================
Theme-Name : Flower Shop.
Description: Landing Page Template(Design) Assignment Purpose.
Author: Muhammed Nayeem.
Version: 1.0
Date: 29/08/2023
---------------------------------------------------------------

* Table Of Contents:
====================
0. Base CSS
1. Section Title CSS
2. Banner CSS
3. Features CSS
4. Discount CSS
===============================================================*/

/* 0. Base CSS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #272727;
}
.btn-primary {
  background-color: #e55473;
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* 1. Section Title CSS */
.section-title {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 0;
}
.section-title h2 {
  color: #272727;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}
.section-title h2::before ,
.section-title h2::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #e55473;
  border-radius: 25px;
}
.section-title h2::before {
  width: 80px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-title h2::after {
  width: 40px;
  bottom: -8px;
  right: 50%;
  transform: translateX(50%);
}
.section-title p {
  color: #27272799;
  font-size: 16px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.5;
}

/* 2. Banner CSS */
.banner {
  background: #e554731a;
  padding-top: 50px;
}
.banner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.banner-texts {
  flex-basis: 48%;
}
.banner-texts h1 {
  font-size: 50px;
  font-weight: 900;
  color: #272727;
  text-transform: none;
}
.banner-texts p {
  font-size: 16px;
  font-weight: 400;
  color: #27272799;
  line-height: 1.5;
  margin: 15px 0;
}
.banner-texts button {
  margin-top: 10px;
}
.banner-texts button:hover {
  background-color: #ffffff;
  color: #e55473;
}
.banner-showcase {
  flex-basis: 40%;
}
.banner-showcase figure img {
  width: 100%;
}

/* 3. Features CSS */
.features {
  background-color: #ffffff;
  padding: 90px 0;
}
.features-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.feature {
  flex-basis: 28%;
  text-align: center;
  overflow: hidden;
}
.feature-showcase {
  width: 100%;
  height: 360px;
  border-radius: 300px 300px 0 0;
  padding: 50px 30px 0 30px;
}
.feature:nth-child(1) .feature-showcase {
  background-color: #a7216226;
}
.feature:nth-child(2) .feature-showcase {
  background-color: #0597a026;
}
.feature:nth-child(3) .feature-showcase {
  background-color: #477d1126;
}
.feature-showcase figure {
  width: 100%;
  height: 100%;
}
.feature-showcase figure img {
  height: 100%;
  width: 100%;
  padding: 15px 15px 0 15px;
}
.feature-text {
  margin: 10px 0;
  padding: 10px;
}
.feature-text a {
  display: inline-block;
  color: #272727;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}
.features-support-container {
  margin-top: 60px;
  background-color: #2727270d;
  padding: 35px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}
.feature-support {
  text-align: center;
}
.feature-support figure img {
  width: 70px;
  height: 70px;
}
.feature-support p {
  margin-top: 10px;
  font-size: 16px;
  color: #272727;
  font-weight: 400;
}

/* 4. Discount CSS */
.discount {
  background-color: #e554730d;
  padding: 50px 0;
}
.discount-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.discount-texts {
  flex-basis: 45%;
}
.discount-texts h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #272727;
}
.discount-texts h2 span {
  color: #e55473;
}
.discount-texts p {
  font-size: 16px;
  color: #27272799;
  font-weight: 400;
  line-height: 1.5;
}
.discount-texts button {
  margin-top: 15px;
}
.discount-texts button:hover {
  background-color: #ffffff;
  color: #e55473;
}
.discount-showcase {
  flex-basis: 30%;
}
.discount-showcase figure img {
  width: 100%;
}
