/*------- Google Fonts --------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.font-lato {
  font-family: 'Lato', sans-serif;
}

.menu {
  right: 0;
}

.effect::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 1px;
  background-color: #4d4d4de0;
}
