/*======== google fonts ========*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

/*======== re-useable variables ========*/
:root {
  --primary-font: "Work Sans", sans-serif;
  --bg-color: rgba(255, 144, 14, 0.1);
  --white-color: #ffffff;
  --orange-color: #ff900e;
  --font-dark: #131313;
  --font-darkgray: #727272;
  --font-orange: #ff900e;
  --btn-bg-color: #ff900e;
  --footer-bg-color: #fff4e7;
  --hover-color: #ff900e;
}

/*========= common css styles =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  /* vertical-align: middle; */
}

body {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn-primary,
.btn-exp {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--btn-bg-color);
  color: var(--white-color);
  padding: 12px 20px;
  border-radius: 5px;
}

/*========= header area =========*/
.header-area {
  background-color: var(--bg-color);
  padding: 10px 0;
  height: 70px;
  line-height: 50px;
}
.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .logo {
  flex-basis: 20%;
}
.header-wrapper .logo a {
  display: block;
  color: var(--font-dark);
}
.header-wrapper .logo a h1 {
  text-transform: capitalize;
  font-size: 1.8em;
}
.header-wrapper .navbar {
  flex-basis: 70%;
}
.header-wrapper .navbar ul {
  display: flex;
  justify-content: flex-end;
}
.header-wrapper .navbar ul li {
  margin-left: 30px;
}
.header-wrapper .navbar ul li a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 450;
  color: var(--font-dark);
  transition: 0.5s ease;
}
.header-wrapper .navbar ul li a:hover {
  color: var(--hover-color);
}

/*========= banner area =========*/
.banner-area {
  background-color: var(--bg-color);
  padding: 85px 0;
}
.banner-wrapper {
  display: flex;
  flex-direction: column;
}
.banner-texts {
  flex-basis: 100%;
  text-align: center;
  padding: 0 100px;
  margin-bottom: 40px;
}
.banner-texts h1 {
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--font-dark);
  line-height: 60px;
  margin-bottom: 15px;
}
.banner-texts p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 25px;
  color: var(--font-darkgray);
  margin-bottom: 20px;
}
.banner-img {
  flex-basis: 100%;
}

/*========= about area =========*/
.about-area {
  padding: 70px 0;
}
.about-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.about-imgs {
  flex-basis: 55%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.about-img {
  height: 300px;
}
.about-img img {
  height: 100%;
}
.about-texts {
  flex-basis: 38%;
}
.about-texts h2 {
  text-transform: capitalize;
  font-size: 2.3em;
  color: var(--font-dark);
  line-height: 45px;
  margin-bottom: 10px;
}
.about-texts h2 .txt-p1 {
  color: var(--font-darkgray);
}
.about-texts h2 .txt-p2 {
  display: block;
  color: var(--font-orange);
}
.about-texts p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--font-darkgray);
  line-height: 25px;
  margin-bottom: 20px;
}

/*========= feature area =========*/
.feature-area {
  background-color: var(--white-color);
  padding: 60px 0;
}
.feature-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.feature-content {
  flex-basis: 45%;
}
.feature-title {
  margin-bottom: 25px;
}
.feature-title h2 {
  text-transform: capitalize;
  font-size: 2em;
  color: var(--font-dark);
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 12px;
  display: inline-block;
  position: relative;
}
.feature-title h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--orange-color);
}
.feature-title h2 span {
  display: block;
}
.feature-title p {
  font-size: 1em;
  font-weight: 300;
  color: var(--font-darkgray);
}
.features {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}
.feature {
  flex-basis: 100%;
  margin-bottom: 25px;
  padding: 15px 20px;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 19px 19px 34px #d9d9d9, -19px -19px 34px #ffffff;
  transition: 0.5s ease;
}
.feature:hover {
  transform: translateY(-5px);
}
.feature h3 {
  text-transform: capitalize;
  font-size: 1.2em;
  color: var(--font-dark);
  margin-bottom: 5px;
}
.feature p {
  font-size: 0.9em;
  color: var(--font-darkgray);
  line-height: 1.3;
}
.feature-img {
  flex-basis: 42%;
  position: relative;
}
.feature-img img {
  height: 100%;
}
.feature-img .btn-exp {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding: 20px 24px;
  top: calc(100% - 55px);
  left: -85px;
  position: absolute;
}
.feature-img .btn-exp span {
  display: block;
  font-size: 0.5em;
  font-weight: 400;
  margin-top: 5px;
}

/*========= counter area =========*/
.counter-area {
  padding: 70px 0;
}
.counter-title {
  text-align: left;
  margin-bottom: 40px;
}
.counter-title h2 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 20px;
  padding-bottom: 8px;
  color: var(--font-dark);
  position: relative;
}
.counter-title h2::after,
.counter-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: var(--orange-color);
}
.counter-title h2::before {
  bottom: -6px;
  width: 40px;
}
.counter-title p {
  font-size: 1em;
  line-height: 1.3;
  max-width: 500px;
}
.counter-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.counter {
  flex-basis: 18%;
  border: 1px solid var(--orange-color);
  border-radius: 3px;
  text-align: center;
  padding: 20px 10px;
  transition: 0.5s ease;
}
.counter:hover {
  background-color: var(--bg-color);
  transform: translateY(-8px);
}
.counter img {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
}
.counter h1 {
  font-size: 2em;
  color: var(--font-dark);
}
.counter h1 span {
  display: block;
  text-transform: capitalize;
  font-size: 0.5em;
  font-weight: 500;
  margin-top: 10px;
  color: var(--font-darkgray);
}

/*========= contact area =========*/
.contact-area {
  padding: 70px 0;
}
.contact-title {
  text-align: center;
  margin-bottom: 50px;
}
.contact-title h2 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 15px;
  padding-bottom: 8px;
  color: var(--font-dark);
  position: relative;
}
.contact-title h2::after,
.contact-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--orange-color);
}
.contact-title h2::before {
  bottom: -6px;
  width: 30px;
}
.contact-title p {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 0 180px;
  line-height: 1.4;
}
.contacts {
  display: grid;
  grid-template-columns: 45% 50%;
  grid-column-gap: 5%;
}
.contact-address {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}
.contact-address .address {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.address i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 3px;
  background-color: var(--orange-color);
  color: var(--white-color);
}
.address h4 {
  text-transform: capitalize;
  font-size: 1.4em;
  padding-left: 10px;
  color: var(--font-dark);
}
.address h4 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 3px;
  color: var(--font-darkgray);
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid var(--orange-color);
  margin-bottom: 10px;
  outline: none;
}
.contact-form form input[type="submit"] {
  text-transform: capitalize;
  background-color: var(--btn-bg-color);
  color: var(--white-color);
  font-size: 1em;
  border: 0;
}

/*========= sponsors area =========*/
.sponsors-area {
  padding: 70px 0;
}
.sponsors-title {
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-title h2 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: var(--font-dark);
  position: relative;
}
.sponsors-title h2::after,
.sponsors-title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: var(--orange-color);
}
.sponsors-title h2::before {
  bottom: -6px;
  width: 30px;
}
.sponsors-title p {
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
  padding: 0 300px;
}
.sponsors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.sponsor {
  flex-basis: 10%;
}
.sponsor img {
  filter: grayscale(100%);
  transition: 0.5s ease;
}
.sponsor img:hover {
  filter: grayscale(10%);
}

/*========= footer area =========*/
.footer-area {
  padding: 25px 0;
  background-color: var(--bg-color);
}
.footer-content {
  text-align: center;
}
.footer-content p {
  font-size: 1em;
  font-weight: 400;
  color: var(--font-dark);
}
