/*======== google fonts ========*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/*======== re-useable variables ========*/
:root {
  --primary-font: 'Work Sans', sans-serif;
  --primary-color: rgba(255, 144, 14, 0.1);
  --white-color: #ffffff;
  --font-dark: #131313;
  --font-darkgray: #727272;
  --btn-bg-color: #FF900E;
  --footer-bg-color: #FFF4E7;
  --bg-color: #FF900E1A;
}

/*========= common css styles =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
