/*======== google fonts ========*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

/*======== re-useable variables ========*/
:root {
  --primary-font: "Work Sans", sans-serif;
  --bg-color: rgba(255, 144, 14, 0.1);
  --white-color: #ffffff;
  --font-dark: #131313;
  --font-darkgray: #727272;
  --btn-bg-color: #ff900e;
  --footer-bg-color: #fff4e7;
  --hover-color: #ff900e;
}

/*========= common css styles =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/*========= header area =========*/
.header-area {
  background-color: var(--bg-color);
  padding: 10px 0;
  height: 70px;
  line-height: 50px;
}
.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .logo {
  flex-basis: 20%;
}
.header-wrapper .logo a {
  display: block;
  color: var(--font-dark);
}
.header-wrapper .logo a h1 {
  text-transform: capitalize;
  font-size: 1.8em;
}
.header-wrapper .navbar {
  flex-basis: 70%;
}
.header-wrapper .navbar ul {
  display: flex;
  justify-content: flex-end;
}
.header-wrapper .navbar ul li {
  margin-left: 30px;
}
.header-wrapper .navbar ul li a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 450;
  color: var(--font-dark);
  transition: 0.5s ease;
}
.header-wrapper .navbar ul li a:hover {
  color: var(--hover-color);
}

/*========= banner area =========*/
.banner-area {
  background-color: var(--bg-color);
  padding: 85px 0;
}
.banner-wrapper {
  display: flex;
  flex-direction: column;
}
.banner-texts {
  flex-basis: 100%;
  text-align: center;
  padding: 0 100px;
  margin-bottom: 40px;
}
.banner-texts h1 {
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--font-dark);
  line-height: 60px;
  margin-bottom: 15px;
}
.banner-texts p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 25px;
  color: var(--font-darkgray);
  margin-bottom: 20px;
}
.banner-texts .btn-primary {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--btn-bg-color);
  color: var(--white-color);
  padding: 12px 20px;
  border-radius: 5px;
}
.banner-img {
  flex-basis: 100%;
}
